.accept {
  background-color: transparent;
  border: 2px solid #22c55e;
  color: #22c55e;
}

.accept:hover {
  background-color: #22c55e;
  color: white;
}

.reject {
  background-color: transparent;
  border: 2px solid #ef4444;
  color: #ef4444;
}

.reject:hover {
  background-color: #ef4444;
  color: white;
}